body{
	background: #fff;
	font-family: "Open Sans", Arial,sans-serif;
	color: black;
	line-height: 1.6em;
	font-size: 14px;
	margin: 0;
}
.navbar-fixed-top{
	border: none;
	top: 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}
.navbar{
	border-radius: 0;
	margin-bottom: 0;
	background: #333;
	padding: 15px 0;
	padding-bottom: 0;
	min-height: 50px;

}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #00ff45;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}



button {
    overflow: visible;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar>.container .navbar-brand {
    margin-left: 0;
    color:#ffe100;
}

.navbar-fixed-top .navbar-brand {
    font-size: 36px;
    line-height: 50px;
   
}
.navbar-brand {
    padding: 0;
    margin: 0;
    
}
.navbar-brand {
    float: left;
    height: 50px;
}
.collapse {
    display: none;
    visibility: hidden;
	font-family: FontAwesome;

}



.navbar-fixed-top .navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}




li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: none;
    color: white;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
	background-color: #f1f1f1;
	color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.corpo{
	width: 100%;
	height: 1050px;
}
.corpo div{
	height: 400px;
	margin-top:350px;

}


section#feature{
	background:#dedede;
	padding-bottom: 40px;
}
body section {
	padding: 70px 0;
}
.container{
	;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.center {
    margin-top: 70px;
	text-align: center;
	padding-bottom: 55px;
	font-family:FontAwesome;
}
.center h2{
	font-size: 36px;
	margin-top: 70px;
	margin-bottom: 20px;
}
.lead{
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 20px;
}
p{
	margin: 0 0 10px;
}
.row{
	margin-right: -15px;
	margin-left: -15px;
}
.features{
	padding: 0;
}




.feature-wrap{
	margin-bottom: 35px;
	overflow: hidden;
	font-family: FontAwesome;
}


#footer{
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
	background: #000;
}
#footer hover{
	color: red;
}








.mfp-close-btn-in .mfp-close {
    background: none;
}
button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}
.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    outline: none;
}

.mfp-close{
user-select: none;
}
<<<<<<< HEAD
.avalia{
    margin-top:200px;
    width: 100%;
    height: 650px;
}
.domesticas{
    margin-top: 200px;
    margin-bottom: 150px;
}