
.navbar{
    border-radius: 0;
    margin-bottom: 0;
    background: #333;
    padding: 15px 0;
    padding-bottom: 0;
    min-height: 50px;

}
.navbar-fixed-top .navbar-brand {
    font-size: 30px;
    color:#fff;
   
}
.navbar-fixed-top .navbar-nav > li > a {
    padding: 5px 12px;
    margin: 0;
    border-radius: 3px;
    color: #fff;
    line-height: 24px;
    display: inline-block;
}
li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
    background-color: none;
    color: white;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color:#E6E6E6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color:#fff;
    color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}





.corpo{
    width: 100%;
    height: 1050px;
}




section#feature{
    background:#D8D8D8;
    padding-bottom: 10px;
   
}
body section {
    padding: 70px 0;
}
.container{
    ;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.center {
    margin-top: 70px;
    text-align: center;
    padding-bottom: 55px;
    font-family:FontAwesome;
}
.center h2{
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 20px;
}
.lead{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
p{
    margin: 0 0 10px;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.features{
    padding: 0;
    width: 100%;
    height: 80px;
}




.feature-wrap{
    margin-bottom: 35px;
    overflow: hidden;
    font-family: FontAwesome;
}


#footer{
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #000;
}
#footer hover{
    color: red;
}

h1#val{
    text-align: center;
    color: white;
}

ul#val {
    margin-left: 40%;
}

ul#val li{
    color: white;
}


h1#login{
    margin-top: -75px;
    position: absolute;
    margin-left: 50%;
}

form#login{
    text-align:center;
    margin-top: -130px;
    margin-left: 9%;
}

form#login table{
    margin-top: 300px;
    margin-left: 40%;
}

form#login input#env{
    margin-top: 20px;
    margin-left: -5%;
}

.modal-login {      
        color: #636363;
        width: 350px;
    }
    .modal-login .modal-content {
        padding: 20px;
        border-radius: 5px;
        border: none;
    }
    .modal-login .modal-header {
        border-bottom: none;   
        position: relative;
        justify-content: center;
    }
    .modal-login h4 {
        text-align: center;
        font-size: 26px;
        margin: 30px 0 -15px;
    }
    .modal-login .form-control:focus {
        border-color: #70c5c0;
    }
    .modal-login .form-control, .modal-login .btn {
        min-height: 40px;
        border-radius: 3px; 
    }
    .modal-login .close {
        position: absolute;
        top: -5px;
        right: -5px;
    }   
    .modal-login .modal-footer {
        background: #ecf0f1;
        border-color: #dee4e7;
        text-align: center;
        justify-content: center;
        margin: 0 -20px -20px;
        border-radius: 5px;
        font-size: 13px;
    }
    .modal-login .modal-footer a {
        color: #999;
    }       
    .modal-login .avatar {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: -70px;
        width: 95px;
        height: 95px;
        border-radius: 50%;
        z-index: 9;
        background: #086cd8;
        padding: 15px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
    .modal-login .avatar img {
        width: 100%;
    }
    .modal-login.modal-dialog {
        margin-top: 80px;
    }
    


.mfp-close-btn-in .mfp-close {
    background: none;
}
button.mfp-close, button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    border: 0;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 1046;
}
.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    padding: 0 0 18px 10px;
    color: #FFF;
    font-style: normal;
    font-size: 28px;
    outline: none;
}

.mfp-close{
user-select: none;
}
.avalia{
    margin-top:200px;
    width: 100%;
    height: 650px;

}

