body{
      margin: 0;
      background-attachment: fixed;
      background-color: white;
      
    }
    
    #menu {
      position:height fixed;
      top: 0;
      z-index: 99;
      height: 100%;

    }
   
    #menu ul{
      margin: 0;
      background-color: black;
      list-style: none;
    }
    #menu ul li {
      display: inline;
    }
    #menu ul li a{
      padding: 10px 10px;
      display: inline-block;

      color: white;
      text-decoration: none;
    }
    #menu ul li a:hover{
        color: red;
    }
    #Corpo {
      width: 100%; height: 100px;
    }
    #rodape ul{
      margin: 0;
      background-color: black;
      list-style: none;
    }
    #rodape ul li {
      display: inline;
    }
    #rodape ul li a{
      padding: 10px 20px;
      display: inline-block;
      color: white;
      text-decoration: none;
    }
    #rodape ul li a:hover{
        color: red;
    }
   .logout{
      left: 30px;
    }
    .jumbotron {
    margin-bottom: 0px!important;
    background-image: url(f7.jpg);

}
 input{
  margin-bottom: 25px!important;
 }
 .style1 td{
  margin-bottom: 1px!important;
 }
